/* STYLE SECTIONING TAGS */

@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

* { /* Reset the space of the webpage */
  margin: 0px;
  padding: 0;

  
}
/*#content {
  margin-left: 50px;
}*/
/* Larger screens*/
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
  
} 

/* Smaller tablets and mobiles*/
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
/* STYLE TEXT */
body {
 background-color: rgb(247, 247, 247);
  border: 15px;
}

a {
  padding: 0;
}


h1 {
  color: rgb(6, 9, 9);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.h1roboto {
  color: rgb(33, 53, 53);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

h2 {
  color: rgb(33, 53, 53);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h3 {
  color: rgb(33, 53, 53);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}



.navtext {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


/* STYLE IMAGES */
#mybackdrop {
  position: fixed;
  left: 0px;
  top: 120px; 
  width: 100%;
  height:100%;
  z-index: -1;
  padding: 0px 0px;

}



/* STYLE NAV BAR */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}



/* Style the top navigation bar */
.navigation {
  overflow: hidden;
  background-color: #537CA4;
  /*background-color: rgb(145, 178, 202);*/
  top:0;
  padding-bottom: 5px;
  width: 100%;
  padding: 30px;
  position: fixed;
  z-index: 5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* Style the topnav links */
.navigation-text a {
  display: block;
  float: right;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 5px 7px;
  margin-left: 15px;
  text-decoration: none;


  
  

}

/* Change color on hover */
.navigation-text a:hover {
  background-color:#abc9e2;
  color: rgb(76, 93, 93);
  
}

.navigation1 {
  overflow: hidden;
  background-color: rgb(132, 182, 142);
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 80px;
  margin-left: -30px;
  width: 100%;
  position: fixed;
  z-index: 5;
}

/* Style the topnav links */
.navigation-text1 a {
  float: right;
  display: block;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 5px 7px;
  margin-left: 15px;
  text-decoration: none;


  
  

}

/* Change color on hover */
.navigation-text1 a:hover {
  background-color:darkseagreen;
  color: lavender;
  
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Style the bottom navigation bar */
.navigationfoot {
  overflow: hidden;
  background-color: #537CA4;
  /*background-color: rgb(145, 178, 202);*/
  bottom:0;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  max-width:100vw;
  box-sizing:border-box;
  padding: 30px;
  position: relative;
  z-index: 5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  
}
.navigation-textf a {
  display: block;
  float: right;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 3px 7px;
  text-decoration: none;

}


/* STYLE BUTTONS */

/* ADD MORE! */
/*SPECIFICS */
/* HOME Page */
/* Logo */
#charm {
  display: flex;
  position: absolute;
  width: 150px;
  height: 150px;
  margin-top: -5.5rem;
  padding: 25px;
  @media (max-width: 768px) {
    position: relative;
  }
}

/* Index fact text */

#bigfact {
  font-size: 45px;
  font-weight: bold;
  padding: 5px;
  background-color: rgb(245, 245, 245, 0.8);
  color: rgb(33, 53, 53);
  z-index: -3;
  margin-top: 300px;
  font-family: 'Times New Roman', Times, serif;
}

#million {
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(33, 53, 53);
}

#orginfo {
  max-width: 1000px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0 auto; 
  font-size: 22px;
  font-weight: bold;
  background-color: rgb(245, 245, 245, 0.8);
  color: rgb(40, 50, 77);
  z-index: -3;
  margin-top: 250px;
  margin-bottom: 100px;
  font-family: 'Times New Roman', Times, serif;
  height: 12%;
  width: 70%
  align-items: center;
  padding: 20px;
  
}
#title {
  font-family: 'Katibeh', sans-serif;
  color: #ffffff;
  font-weight: 300;
  margin-left: 130px;
  padding-bottom: 0px;
}
#subtitle {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 300;
  margin-left: 150px;
  padding:1px;
  padding-top: 0px;
}

/*myth or fact game */

#correct {
  text-align: left;
  
}
#explain {
  text-align: left;
}
#torfstart {
  background-color: white;
}
#twobuttons {
  display: flex;
  justify-content: center;
  min-width: 120px;
  padding: 0.75rem 1.25rem;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;

}

#myMyth {
  /*padding: 10px;*/
  background-color: #eaf1fb;
  /*font-family: "Lucida Console", "Monaco", monospace;*/
  color: rgb(33, 53, 53);
}

#myFact {
  /*padding: 10px;*/
  background-color: #eaf1fb;
  /*font-family: "Lucida Console", "Monaco", monospace;*/
  color: rgb(33, 53, 53);
}

#nextUp {
  /*padding: 10px;*/
  background-color: #eaf1fb;
  /*font-family: "Lucida Console", "Monaco", monospace;*/
  color: rgb(33, 53, 53);
  
}

#mythorfact {
  max-width: 800px;
  text-align: center;
  padding:15px;
}

#quest {
  max-width: 800px;
  text-wrap:wrap;
  margin: 0 auto;
}

#mythorfactgame {
  /*background-color: rgb(145, 178, 202);*/
  background-color: rgb(245, 245, 245, 0.8);
  color: #1B1F3B;
  /*display: flex;*/
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 5px;
  max-width: 800px;
  max-height: 1000px;
  padding:30px;
  justify-content: center;
  margin: 0 auto;/*todo, align-items: center;*/
  /*flex-direction: row;*/
  
  
} 
.instagram-media {
  margin: 3rem auto !important;
  display: block !important;
}
#insta {
  /*margin-bottom: -10 px;
  padding: 0;*/
  box-sizing: content-box !important;
  flex-direction: row;
}

/* JOIN US Page */
#joinusdiv {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

#textnews {
  background-color: white;
  border:1.5px solid #537CA4;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin-top: 150px;
  margin-bottom:50px;
  border-radius: 12px;
  border-style: solid;
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 50%;
}

/* LEARN MORE Page */
/*#learnmorediv {

}*/

/* RESOURCES Page
#resourcesdiv {
  display: block;
  margin-top: 200px;
  padding: 50px;
}*/

/* figure it out later */
.myBtn {
  width: 100px; /* adjust as needed */
  padding: 0.5rem;
  text-align: center;
}